.banner {
  width: 100%;
  background-image: url(../../images/background.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.banner > .container {
  padding: 200px 0px;
  margin: 0px;
  width: 60%;
}

.banner > .container p {
  color: rgb(174, 172, 169);
  font-weight: lighter;
  font-size: 1.2rem;
}

.banner > .container > div {
  background-color: rgb(99, 195, 99);
  padding: 15px 28px;
  border-radius: 25px;
  max-width: fit-content;
}

.banner > .container > div > a {
  color: white;
  font-weight: bold;
}
